
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: bisque;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    background-color: yellowgreen;
    padding: 30px 40px ;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 0px rgba(0,0,0,0.3);

}
label{
    display:block;
    margin-bottom: 5px;
    color: #555;

}
.input_group{
    margin-bottom: 15px;

}
input[type="text"]{
    width:calc(100%-20px);
    border: 1px solid #ccc;
    border-radius: 25px;
}
h1{
    color: blue;
    margin-bottom: 20px;
    
}